/*Primary Header*/
h1 {
	font-family: 'Oswald', sans-serif;
	color: #000;
}

h2 {
	font-family: 'Oswald', sans-serif;
}

h3 {
	font-family: 'Droid Serif', serif;
	color: #007599;
}

/*paragraph text*/

p {
	font-family: 'Droid Serif', serif;
}

/*baseline links*/

a:link,
a:visited {
text-transform: uppercase;
text-decoration: none;
border-bottom: dashed orange 2px;

}

a:hover {
	background: red;
}


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background: #007599;

}

.color-2 {
	background: #668AFF;
}

.color-3 {
	background: #A65529;
}

.pattern-1 {
	background: url("../img/bg.png")
}

.pattern-2 {
	background: url("../img/bg2.png")

}

.pattern-3 {
	background: url("../img/bg3.png")
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}